# {{ ansible_managed }}

AllowUsers {% for key,value in users.iteritems() %}{% if value.allow_ssh %}{{ value.username }}{% endif %}{% endfor %}{% if vagrant is defined and vagrant == true %} vagrant{% endif %} 
AuthorizedKeysFile %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
ClientAliveCountMax 0
ClientAliveInterval 300
DebianBanner no
HostbasedAuthentication no
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
IgnoreRhosts yes
LoginGraceTime 10
LogLevel INFO
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Port 22
PrintLastLog yes
PrintMotd no
Protocol 2
PubkeyAuthentication yes
RSAAuthentication yes
StrictModes yes
TCPKeepAlive yes
UsePAM yes
UsePrivilegeSeparation yes
X11Forwarding no
